# Byte-compiled / optimized / DLL files
__pycache__/
.mypy_cache/
# test results
allure_results/
.coverage
# pycharm files
.idea
.env
# pycharm folders
venv/
# logs folders
logs/
reports/
# build files
swatcore.egg-info/
build/
dist/
